<head>
    <p> 
        <a href= "{% url 'learning_logs:index' %}">Learning Log</a>
        <a href= "{% url 'learning_logs:topics' %}">Tematy</a>
        {% if user.is_authenticated %}
            Witaj, {{user.username}}.
            <a href= "{% url 'users:logout' %}">Wyloguj się</a>
        {% else %}
            <a href= "{% url 'users:register' %}">Zarejestruj się</a>
            <a href= "{% url 'users:login' %}">Zaloguj się</a>
        {% endif %}
    </p>
      
</head>

{% block content %}{% endblock content %}