{% extends "learning_logs/base.html" %}

{% block content %}
<head> 
    <title>{{ topic }}</title>
</head>
  <p>Temat: {{ topic }} </p>
  <p>Wpisy:</p>
  <p><a href="{% url 'learning_logs:new_entry' topic.id %}">Dodaj nowy wpis</a></p>
  <ul> 
    {% for entry in entries %}
    <li>
        <p>{{entry.date_added|date:'d M Y H:i'}}</p>
        <p>{{entry.text|linebreaks}}</p>
        <p>
          <a href="{% url 'learning_logs:edit_entry' entry.id %}">Edytuj wpis</a>
        </p>
    </li>
    {% empty %}
    <li>Nie ma jeszcze żadnego wpisu.</li>
    {% endfor %}
  </ul> 
{% endblock content %}  